img{
    width:100%
}
.details{
    background-color: rgb(102, 235, 102);
    color: aliceblue;
}
.vege{
    color:rgb(39, 136, 39);

}
.fresh{
    background-image: url('../images/img2.jpg');
   
    background-repeat: no-repeat;
   
    background-size: cover;
  min-height: 600px;
  text-align: center;
  color: aliceblue;
  padding-top: 200px;
  font-size: 55px;


}


.bi-truck::before{
     font-size: 60px;
     background-color: pink;
     width:100px;
     height: 100px;
     border-radius:50%;
     padding-top: 20px;
     padding-left: 20px;
     margin-top: 30px;
}
.bi-emoji-sunglasses::before{
    font-size: 60px;
    background-color: rgb(223, 171, 76);
    width:100px;
    height: 100px;
    border-radius:50%;
    padding-top: 20px;
    padding-left: 20px;
    margin-top: 30px;
}
.bi-stack::before{
    font-size: 60px;
    background-color: rgb(145, 177, 245);
    width:100px;
    height: 100px;
    border-radius:50%;
    padding-top: 20px;
    padding-left: 20px;
    margin-top: 30px; 
}
.bi-telephone-fill::before{
    font-size: 60px;
    background-color: rgb(248, 229, 143);
    width:100px;
    height: 100px;
    border-radius:50%;
    padding-top: 20px;
    padding-left: 20px;
    margin-top: 30px; 
}
.one{
    background-image: url('../images/7.avif');
    height:400px;
}
.two{
    background-image: url('../images/8.jpg');
    height:400px;
}
.three{
    background-image: url('../images/9.avif');
    height:400px;
}
.four{
    background-image: url('../images/12.webp');
    background-position: bottom center;
    background-size: contain;
    height:400px;
    background-repeat: no-repeat;

}
.five{
    background-image: url('../images/10.jpg');
    height:400px;
}

.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
 
 .wrap {
   
  width: 100%;
  height: 250px; }
  .wrap-2 {
    width: 100%;
}


   .wrap .text {
    background: #82ae46; }
     
       
 

 .wrap-2 .text {

  width: 100%;
}