img{
    width:100%
}
.details{
    background-color: rgb(102, 235, 102);
    color: aliceblue;
}
.vege{
    color:rgb(39, 136, 39);

}
.fresh{
    background-image: url('../images/img2.jpg');
   
    background-repeat: no-repeat;
   
    background-size: cover;
  min-height: 600px;
  text-align: center;
  color: aliceblue;
  padding-top: 200px;
  font-size: 55px;


}
.free{
    border-radius: 50%;
    width:30%;
    
}
.table{
    height:400px;
}
