img{
    width:100%
}
.details{
    background-color: #82ae46;
    color: aliceblue;
    font-size:12px;
    letter-spacing: 1px;
    text-align: center;
    width:100%;

}
.vege{
    color:#82ae46;
    font-weight: 800;
    
}
.fresh{
    background-image: url('../images/bg_2.jpg');
   
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  height: 650px;
  text-align: center;
  color: aliceblue;
  padding-top: 200px;
  font-size: 55px;
  position:relative;


}



.bi-truck::before{
     font-size: 60px;
     background-color: rgba(223, 167, 176,0.5);
     width:100px;
     height: 100px;
     border-radius:50%;
     padding-top: 20px;
     padding-left: 20px;
     margin-top: 30px;
}
.bi-emoji-sunglasses::before{
    font-size: 60px;
    background-color: rgba(223, 171, 76,0.5);
    width:100px;
    height: 100px;
    border-radius:50%;
    padding-top: 20px;
    padding-left: 20px;
    margin-top: 30px;
}
.bi-stack::before{
    font-size: 60px;
    background-color: rgba(145, 177, 245,0.5);
    width:100px;
    height: 100px;
    border-radius:50%;
    padding-top: 20px;
    padding-left: 20px;
    margin-top: 30px; 
}
.bi-telephone-fill::before{
    font-size: 60px;
    background-color: rgba(248, 229, 143,0.5);
    width:100px;
    height: 100px;
    border-radius:50%;
    padding-top: 20px;
    padding-left: 20px;
    margin-top: 30px; 
}


.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
 
 .wrap {
   
  width: 100%;
  height: 250px; }
  .wrap-2 {
    width: 100%;
}


   .wrap .text {
    background: #82ae46; 
 height: 40px;
   }
     
       
 

 .wrap-2 .text {

  width: 100%;
}
.fruit{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
   
}
.product{
    color: #82ae46;
}
.bell{
    text-align: center;
   
}
.bell1{
    text-align: center;
    color: #82ae46;
    
}
.mar{
    border-color: rgba(177, 166, 166, 0.5);
    border-width: 1px;
    border-style: solid;
}
.deal{
    background-image: url('../images/deal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  
}
.best{
    color: #82ae46;
}
.spinach
{
    color: #82ae46;
    font-style: italic;
}
.ten{
    color:#82ae46
}
.test{
    color: #82ae46;
    
}
.our{
    font-style: oblique;
}



  
  #countdown li {
    display: inline-block;
    font-size: 0.9em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
    color: #82ae46;
    padding-right: 40px;
  }
  
  #countdown li span {
    display: block;
    font-size: 3.5rem;
  }

  
  
  @media all and (max-width: 768px) {
    
    li {
      font-size: calc(1.125rem * var(--smaller));
    }
    
    li span {
      font-size: calc(3.375rem * var(--smaller));
    }
  }
.nav-item
{
    font-size:11px;
    

}
.person{

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    width:110px;
    height:110px;
}
.bor{
   
   
    border-left: 2px solid #82ae46;
   
}